[user]
	email = ahmedtitr@example.com
	name = ahmedtitr-hash
[safe]
	directory = /storage/emulated/0/Download/Only-Us-main
	directory = /storage/emulated/0/Download/Only-Us-main
	directory = /storage/emulated/0/Download/Only-Us-main
